<%= simple_form_for(lesson, :url => lesson_path, :method => :post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :image_url %>
    <%= f.input :video_url %>
    <%= f.input :video_type %>
    <%= f.input :quiz %>
    <%= f.input :material %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>