<% provide(:title, '课程列表') %>
    <% @courses.each do |course| %>
    <div class="row-fluid">
        <div class="span4">
            <div class="media">
               <a href="#" class="pull-left"><img src="assets/courses/cs101.jpg" class="media-object" width= '140px' alt='' /></a>
               <div class="media-body">
                <h4 class="media-heading">
                    <%= link_to course.name, course %>
                </h4> 
                讲师: <%= course.teacher %>
            </div>
            <% if can? :update, @course %>
            <%= link_to '编辑', edit_course_path(course) %>
            <% end %>
            <% if can? :destory, @course %>
            <%= link_to '删除', course, method: :delete, data: { confirm: '确认删除?' } %>
            <% end %>
        </div>
    </div>
    <div class="span4">
        <blockquote>
            <p>github是一个全球化的开源社区.</p> 
            <small>课程代码 <cite><%= course.title %></cite></small>
        </blockquote>
    </div>
    <div class="span4">
        <p><%= course.description %></p>
    </div>
</div>
<% end %>

<% if can? :create, Course %>
<%= link_to '新建课程', new_course_path %>
<% end %>
