<h3>课程介绍</h3>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Teacher:</b>
  <%= @course.teacher %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>User:</b>
  <%= @course.user %>
</p>

<%= render :partial => "unit_list", :locals => { :units => @course.units} %>
<% if can? :create, @unit %>
<%= render :partial => "new_unit", :locals => { :unit => Unit.new( :course_id => @course.id ) } %>
<% end %>

<% if can? :update, @course %>
<%= link_to 'Edit', edit_course_path(@course) %>
<% end %>

<br>

<%= link_to 'Back', courses_path %>
