<h3>课程介绍</h3>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Teacher:</b>
  <%= @course.teacher %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>User:</b>
  <%= @course.user %>
</p>


<h3>课程单元列表</h3>
<%= render @course.units %>

<h3>创建新单元</h3>
<% if can? :create, @unit %>
<%= render "units/form" %>
<% end %>

<% if can? :update, @course %>
<%= link_to 'Edit', edit_course_path(@course) %>
<% end %>

<br>

<%= link_to 'Back', courses_path %>
