<% provide(:title, "#{@course.name}") %>

<div class="row-fluid">
<div class="span12">
  <h3><%= @course.title %> : <%= @course.name %></h3>
  <p>授课讲师：<%= @course.teacher %></p>
</div>
</div>
<hr class="bs-docs-separator">

  <div class="row-fluid">
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header">
          <%= @course.name %>
        </li>
        <% @course.lessons.each do |lesson| %>
        <li>
          <a href="#"><%= lesson.name %></a>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="span9">
    <%= render "lessons/video"%>
    </div>
  </div>
  <hr class="bs-docs-separator">
  <div class="row-fluid">
    <%= render "lessons/material" %>
  </div>
  <hr class="bs-docs-separator">
  <div class="row-fluid">
    <%= render "lessons/comment" %>
  </div>

<hr class="bs-docs-separator">
<div class="row-fluid">
  <% if can? :create, @lesson %>
<h3>创建新Lesson</h3>
<%= render "lessons/form" %>
<% end %>
<% if can? :update, @course %>
<%= link_to '编辑课程', edit_course_path(@course) %>
<% end %>
</div>




