<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "爱知学堂，新一代的在线教育" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>
  </div>
  <div id="main" role="main">
    <div class="container">
      <div class="row">
        <div class="span12">
          <%= render 'layouts/messages' %>
        </div>
      </div>
      <%= yield %>
    </div> <!--! end of .container -->
  </div> <!--! end of #main -->
  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</body>
</html>
